.snippet {
    padding-top: 21px;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.table a.table-link.danger {
    color: #e74c3c;
}

.label {
    border-radius: 3px;
    font-size: 0.95em;
    font-weight: 600;
}

.user-list tbody td .user-subhead {
    font-size: 0.95em;
    font-style: italic;
    padding-left: 57px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1em;
    padding-top: 3px;
    margin-left: 60px;
}

a {
    color: #3498db;
    outline: none!important;
}

.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.9em;
}

.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}

.table tbody tr td:first-child {
    font-size: 1.2em;
    font-weight: 300;
}

.table tbody tr td {
    font-size: 1em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}


